body {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #c2d1e5;
}

#buttonsRow {
    background-color: #292929;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #ffffff;
}

.col-md-8, .col-md-4 {
    background-color: #f6f6f67a;
}

button,
div,
form,
input {
  margin: 10px;
}